extends layout

block content
  h1.pagetitle קבצי החייל
  ul.list-group
    each file, i in files
      div.msg
        li.list-group-item
        a.msgtitle(href= "/downloads/hachayal/"+file)= file
        li.list-group-item
        a(href=  "/downloads/hachayal/"+file) ghhfb

