extends layout

block content
  h1.pagetitle קבצי החייל
  ul.list-group
    each file, i in hachyalfiles
      div.msg
        li.list-group-item
        a.msgtitle(href= "/downloads/hachayal/"+file download="")= file
        li.list-group-item
        a(href=  "/downloads/hachayal/"+file  download="") לחץ כאן
    h1.pagetitle קבצי הערות התמימים
    ul.list-group
      each file, i in heoressfiles
        div.msg
          li.list-group-item
          a.msgtitle(href= "/downloads/heoress/"+file download="")= file
          li.list-group-item
          a(href=  "/downloads/heoress/"+file  download="") לחץ כאן

