extends layout

block content
	// header section
	.parallax-container
		.parallax
			img#rebbephoto.mySlides(src='/img/4.jpg')
			.anim.first ראשון לציון
			.anim.second מוכנה למשיח
		each img, i in imgs
			img.mySlides.slides(src="/img/yeshiva/"+img, alt="some image :)", style="display: none")
	// Section: Icon Boxes
	#lessons.section.orange
		section.section.section-icons.center
			.container
				.row
					.col.s12.m4
						a(href='/donate/donate')
							.card-panel
								i.material-icons.large.orange-text redeem
								h4 תמיכה
								p עזור לנו להמשיך להתקיים. ניתן להקדיש ימי לימוד בישיבה לזכות יקיריכם
					.col.s12.m4
						.card-panel
							a(href='/messages/news')
								i.material-icons.large.orange-text question_answer
								h4 הודעות
								p מידע על התוועדויות קרובות, כינוסים שיעורים והרצאות המתקיימים בישיבה
					.col.s12.m4
						.card-panel
							a(href='/lessons/lessons')
								i.material-icons.large.orange-text import_contacts
								h4 שיעורים
								p הקלטות שיעורים הנמסרים בישיבה, מתעדכן מספר פעמים בשבוע
					.col.s12.m4
						.card-panel
							a(href='/downloads')
								i.material-icons.large.orange-text insert_drive_file
								h4 קבצים
								p הורדה וצפייה בקבצים היוצאים לאור בישיבה
					.col.s12.m4
						.card-panel
							a(href='/students/regtoyeshiva')
								i.material-icons.large.orange-text rate_review
								h4 רישום לישיבה
								p בצורה פשוטה ונוחה
	// map section
	.parallax-container
		#map(style='width:100%;height:500px')
	script.
		function myMap() {
		var myCenter = new google.maps.LatLng(31.9634851,34.8201663);
		var mapCanvas = document.getElementById("map");
		var mapOptions = {center: myCenter, zoom: 17};
		var map = new google.maps.Map(mapCanvas, mapOptions);
		var marker = new google.maps.Marker({position:myCenter});
		marker.setMap(map);
		}	
	