extends layout

block content
	// Section: Icon Boxes
	#lessons.section.orange
		section.section.section-icons.center
			.container
				.row
					.col.s12.m4
						.card-panel
							i.material-icons.large.orange-text redeem
							h4 תמיכה
							p עזור לנו להמשיך להתקיים. ניתן להקדיש ימי לימוד בישיבה לזכות יקיריכם
					.col.s12.m4
						.card-panel
							i.material-icons.large.orange-text question_answer
							h4 הודעות
							p מידע על התוועדויות קרובות, כינוסים שיעורים והרצאות המתקיימים בישיבה
					.col.s12.m4
						.card-panel
							i.material-icons.large.orange-text import_contacts
							h4 שיעורים
							p הקלטות שיעורים הנמסרים בישיבה, מתעדכן מספר פעמים בשבוע
	// map section
	.parallax-container
		#map(style='width:100%;height:500px')
	script.
		function myMap() {
		var myCenter = new google.maps.LatLng(31.9634851,34.8201663);
		var mapCanvas = document.getElementById("map");
		var mapOptions = {center: myCenter, zoom: 17};
		var map = new google.maps.Map(mapCanvas, mapOptions);
		var marker = new google.maps.Marker({position:myCenter});
		marker.setMap(map);
		}	
	