extends layout

block content
    h1 login
    form(action="/users/login", method="post")
        #form-grup
            label username:
            input.form-control(type="text", name="username")
        #form-grup
            label password:
            input.form-control(type="password", name="password")
        
        input.btn.btn-primary(type="submit", value="submit")