extends layout

block content
  h1.pagetitle הודעות
  ul.list-group
    each message, i in messages
      div.msg
        li.list-group-item
        a.msgtitle(href="")= message.title
        li.list-group-item
        a(href="")= message.body
