extends layout

block content
  h1 הודעות
  ul.list-group
    each message, i in messages
      li.list-group-item
        a(href="/messages/"+message._id)= message.title
        li.list-group-item
        a(href="/messages/"+message._id)= message.body