extends layout

block content
    h1 register page
    form(action="/users/register", method="post")
        #form-grup
            label name:
            input.form-control(type="text", name="name")
        #form-grup
            label email:
            input.form-control(type="text", name="email")
        #form-grup
            label username:
            input.form-control(type="text", name="username")
        #form-grup
            label password:
            input.form-control(type="password", name="password")
        #form-grup
            label confirm:
            input.form-control(type="password", name="password2")
        
        input.btn.btn-primary(type="submit", value="submit")