extends layout

block content
    h1.pagetitle בחר קובץ להעלאה:
    a(href="/uploads/hachayal" class="downloadfolderlink") להעלאת קבצי החייל לחץ כאן
    a(href="/uploads/heoress" class="downloadfolderlink") להעלאת קבצי הערות לחץ כאן
    a(href="/uploads/img" class="downloadfolderlink") להעלאת תמונה לסליידר לחץ כאן    