body{
    margin: 0;
    padding: 0;
}

#rebbephoto{
    width: auto;
    height: auto;
}

.font{
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
}

#logo{
    padding-left: 5vw;
    letter-spacing: -2px;
    font-size: 1.7em;
}

ul{
    padding-right: 0.7em;
}

#yechee{
    font-family: 'Assistant', sans-serif;
}

#copy{
    font-family: 'Assistant', sans-serif;
}

.first{
    margin: 1.3em 1em;
    position: absolute;
    bottom: 1.3em;
    right: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;    
    font-size: 5rem;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    animation: type 4s steps(50, end); 
}

.second{
    margin: 1em;
    position: absolute;
    bottom: 0em;
    right: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 6.5rem;
    color: orange;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    animation: type2 4s steps(50, end); 
}

@keyframes type{ 
    from { width: 0; } 
  } 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100;}
} 
/* for stanrard smartphons */
@media (max-width:420px) {
    .first, .second{
        font-size: 3.3em;
     }
     .first{
        color: rgb(247, 217, 162); 
        margin: 0.4em;
     }
     .second{
        right: .6em;         
     }
  }
    /* for iphone 5 and less  */
  @media (max-width:320px) {
    .first, .second{
        font-size: 2.7em;
     }
     .first{
        color: rgb(247, 217, 162); 
        margin: 0.4em;
     }
     .second{
        right: .6em;         
     }
  }

/* for tablets */
  @media 
  (min-device-width: 600px) 
  and (max-device-width: 1239px) {
    .first{
        top: -1em;
        color: rgb(78, 55, 12);
        font-size: 3.9em;         
     }
     .second{
        top: 0em;
        font-size: 4.7em;
        right: .2em;         
     }
}

img#rebbephoto {
    filter:sepia(70%);
}

a {
    text-decoration: none;
    color: inherit; 
}

.msg{
    border-right: 1em solid;
    border-color: orange;
    background: rgba(255, 165, 0, 0.3);
    padding: 1em;
    margin: 1em;
}

.pagetitle{
    margin-right: 1.7rem;
    font-family: 'Secular One', sans-serif;
    border-right: 1rem solid;
    border-color: orange;
    padding: 5px;
}

.msgtitle{
    font-family: 'Secular One', sans-serif;
    font-size: 1.2rem;
    color: orange;
}

p.msgtitle{
    padding: 0 1.7rem;
    font-size: 1.5rem;    
}

.inptreg{
    margin: 0 auto;
    width: 80%;
}

/* ::-webkit-input-placeholder {
    color: pink;
} 
*/

 /* label underline focus color */
 .input-field input[type=text]:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
  }
/* time picker color */
 .picker__date-display { background-color: orange; }
.picker__day.picker__day--today { color: orange; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background-color: orange;}
.picker__close { color: orange !important;}
.picker__today { color: orange !important;}
.clockpicker-tick:hover { background: orange !important; }
.clockpicker-canvas line { stroke: orange !important; }
.clockpicker-canvas-bearing { fill: orange !important; }
.clockpicker-canvas-bg { fill: orange !important; }

.ftr{
    bottom: 0 !important;
}

.downloadfolderlink{
    margin: auto 10px;
    padding: 10px;
    font-size: 26pt;
    background: orange;
    color: antiquewhite;
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.slides{
    /* transition: opacity 1s ease-in-out;     */
    filter:sepia(70%);
    width: 100%;
    height: auto;
}

.mySlides{
    transition: opacity 3s ease-in-out;
    /* TO DO */
    /* some filter to pic can smoothen the proccess */
    /* fit all photos to correct size and coverege */
}